@using TK_ECAR.Models
@model PreguntasModel

@Html.HiddenFor(m => m.idPregunta)
@Html.HiddenFor(m => m.Accion)
<div class="form-horizontal">
    <div class="form-group">       
        @Html.RequiredLabelFor(m => m.idCategoria, new { @class = "control-label col-sm-4" })
        <div class="col-sm-8">       
            @Html.DropDownListTiposCategoriasPreguntas("idCategoria", new { @class = "form-control" }, Model.idCategoria)
        </div>
    </div>

    <div class="form-group">
        @Html.RequiredLabelFor(m => m.Pregunta, new { @class = "control-label col-sm-4" })
        <div class="col-sm-8">
            @Html.TextAreaFor(m=>m.Pregunta, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.RequiredLabelFor(m => m.Respuesta, new { @class = "control-label col-sm-4" })
        <div class="col-sm-8">
            @Html.TextAreaFor(m => m.Respuesta, new { @class = "form-control" })
        </div>
    </div>                       
    <div class="form-group">
        <div class="col-sm-12">
            @Html.Partial("_CustomValidationSummary", ViewData.ModelState)
        </div>
    </div>
</div>

 